*{
    margin: 0 auto;
    font-family: 'Cabin', sans-serif;
 
}
.container .logo {
    width: 60%;
    height: 60%;
    
}

.container .logo  img{
    width: 50%;
    height: 50%;
}


#btn_order{
    width: 400px;
    padding: 20px 1px;
    border-radius: 5px;
    border: none;
    background-color: #D0FF6C;
    font-weight:bold;
    font-size:20px;
    color: #004303;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    
}

#btn_qlthucdon{
    width: 400px;
    padding: 20px 1px;
    border-radius: 5px;
    border: none;
    background-color: #D0FF6C;
    font-weight:bold;
    font-size:20px;
    color: #004303;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}